@keyframes oscillate {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1000px 0;
	}
}

html {
	font-size: calc(0.5em + 1vw);
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-image: url('space2.jpg');
	z-index: -1;
	animation: oscillate 100s linear infinite alternate;
	background-repeat: repeat;
}

body {
	background-color: black;
}

.app,
form {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	padding: 0;
}

#splash {
	padding: 0 1rem;
	font-size: 1.4rem;
	text-align: justify;
	max-width: 35rem;
	line-height: 150%;
}

#splash-button {
	text-align: center;
}

#splash div {
	padding-top: 1rem;
}

#quote {
	border-left: 0.1em solid white;
	padding-left: 1rem;
	font-style: italic;
	margin: 0;
}

#quote-by {
	text-align: right;
}

a {
	color: white;
}

h1 {
	font-size: 3.5rem;
	cursor: default;
	user-select: none;
	margin: 2rem 0;
}

label {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 1rem;
}

.earth {
	position: relative;
	display: flex;
}

svg {
	width: 3rem;
	height: 3rem;
	padding-right: 0.75rem;
	user-select: none;
}

input {
	width: 20rem;
	height: 3rem;
	border-radius: 0.5rem;
	border: none;
	padding-left: 1rem;
	font-size: 1.4rem;
	box-shadow: 0 1px 0.25rem black inset;
}

button {
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-weight: bold;
	padding: 0.5rem;
	background-color: white;
	border: none;
	border-radius: 0.5rem;
	border: 1px solid white;
	color: white;
	background-color: #0000;
	cursor: pointer;
	font-size: 1.4rem;
	width: 24.75rem;
	background-color: #fff2;
}

button:disabled {
	color: #fffa;
	background-color: #fff0;
	cursor: unset;
}

#result {
	margin-bottom: 2rem;
	max-width: 24rem;
	font-size: 1.4rem;
	text-align: center;
}

h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

#loading {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	font-weight: bold;
}

button#explanation {
	margin: 0;
	border: 1px solid white;
	color: white;
}

button#about {
	margin: 1rem 0;
}

#buttons {
	width: 24.75rem;
}

@media (min-width: 768px) {
	html {
		font-size: calc(0.25em + 1vw);
	}
}

@media (min-width: 1200px) {
	html {
		font-size: calc(0.125em + 1vw);
	}
}
